<template>
  <ul class="nav" role="menu">
    <li v-for="item in $static.metadata.ghost.navigation" :key="item.url" role="menuitem">
      <a :href="item.url">{{ item.label }}</a>
    </li>
  </ul>
</template>

<static-query>
  query Navigation {
    metadata {
      ghost {
        navigation {
          url
          label
        }
      }
    }
  }
</static-query>
