<template>
  <svg width="1536" height="1536" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 1536 1636">
    <path d="M1024 896c0-141-115-256-256-256S512 755 512 896s115 256 256 256 256-115 256-256zm138 0c0 218-176 394-394 394s-394-176-394-394 176-394 394-394 394 176 394 394zm108-410c0 51-41 92-92 92s-92-41-92-92 41-92 92-92 92 41 92 92zM768 266c-112 0-352-9-453 31-35 14-61 31-88 58s-44 53-58 88c-40 101-31 341-31 453s-9 352 31 453c14 35 31 61 58 88s53 44 88 58c101 40 341 31 453 31s352 9 453-31c35-14 61-31 88-58s44-53 58-88c40-101 31-341 31-453s9-352-31-453c-14-35-31-61-58-88s-53-44-88-58c-101-40-341-31-453-31zm768 630c0 106 1 211-5 317-6 123-34 232-124 322s-199 118-322 124c-106 6-211 5-317 5s-211 1-317-5c-123-6-232-34-322-124S11 1336 5 1213c-6-106-5-211-5-317s-1-211 5-317c6-123 34-232 124-322s199-118 322-124c106-6 211-5 317-5s211-1 317 5c123 6 232 34 322 124s118 199 124 322c6 106 5 211 5 317z"/>
</svg>
</template>
